<form name="register" novalidate>
    <div class="form-horizontal">
        <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">First Name</label>

            <div class="col-xs-4">
                <input type="text" class="form-control" placeholder="First Name" name="firstName" ng-required="true" ng-model="userDetails.firstName" ng-show-options="{update on:'blur'}">
                <div ng-show="register.firstName.$dirty">
                <p ng-show="register.firstName.$error.required">Please Enter First Name.</p>
                     </div> 
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">Last Name</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" placeholder="Last Name" name="lastName" ng-required="true"
                   ng-model="userDetails.lastName" ng-show-options="{update on:'blur'}">
                <div ng-show="register.lastName.$dirty">
                <p ng-show="register.lastName.$error.required">Please Enter Last Name.</p>
                    </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">User Name</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" placeholder="User Name"  name="userName" ng-required="true" ng-minlength="5" ng-maxlength="10" ng-model="userDetails.userName" np-show-options="{update on:'blur'}">
                <div ng-show="register.userName.$dirty">
                <p ng-show="register.userName.$error.required">Please Enter User Name.</p>
                <p ng-show="register.userName.$error.minlength">Mimimum length is 5.</p>
                <p ng-show="register.userName.$error.maxlength">Maximum length is 10.</p>
                </div>
            </div>
        </div>
          <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">Date Of Birth</label>
            <div class="col-xs-4">
                <input type="text" class="form-control"  placeholder="Date Of Birth" ng-model="userDetails.DoB" >
            </div>
        </div>
         <!--  <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">State</label>
            <div class="col-xs-4">
                <select class="form-control" 
                        ng-model="selectState"
                        ng-options=" state.value group by state.countryCode for state in states"        >
                    <option value="">Please Select</option>
                </select>
            </div>
        </div>-->
      
    <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">Country</label>
            <div class="col-xs-4">
                <select class="form-control" 
                        ng-change="loadStates()"
                        ng-model="selectedCountry"
                        ng-options="country.value for country in countries">
                    <option value="">Please Select</option>
                </select>
            </div>
        </div>
         
        
         <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">State</label>
            <div class="col-xs-4">
                <select class="form-control" 
                        
                        ng-model="selectedState"
                        ng-options="item.key for item in stateList" >
                    <option value="">Please Select</option>
                </select>
            </div>
        </div>
     
        <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">Phone Number</label>
             <div class="col-xs-4">
                <input type="text"  class="form-control" placeholder="Phone Number" ng-model="userDetails.phoneNumber"  name="phoneNumber" ng-pattern=/[0-9]$/ ng-show-options="{update on:'blur'}" >
                <div ng-show="register.phoneNumber.$dirty"><p ng-show="register.phoneNumber.$error.pattern">Enter only Digits</p></div> 
                  
            </div>
        </div>

        <div class="form-group">
            <label for="inputPassword" class="control-label col-xs-2">Gender</label>
            <div class="col-xs-4">
                <input type="radio" value="M" ng-model="userDetails.gender" >M
                <input type="radio" value="F" name="gender" ng-model="userDetails.gender"  >F
                <input type="radio" value="NA" name="gender" ng-model="userDetails.gender" >Don't Reveal
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" 
                           ng-model="userDetails.terms"   > I Agree Terms</label>
                </div>
            </div>
        </div>
        <div class=" form-group ">
            <div class="col-xs-offset-2 col-xs-4 ">
                <button type="button" class="btn btn-primary"
                        ng-disabled="!userDetails.terms"
                 ng-click="registerUser()" >Register</button>
            </div>
        </div>
         <!--<pre> {{userDetails}} </pre>-->
    </div>
</form>
  