<h1>Vehicles</h1>
<!--<table class="table table-hover">
    <thead>
        <tr>
            <td></td>
            <td>Year</td>
            <td>Make</td>
            <td>Model</td>
            <td>Price</td>
        </tr>
        <tr ng-repeat="vehicle in vehicles">
        <td><img src="http://i614.photobucket.com/albums/tt224/blu3hamm3r/Aventador%20vs%20GTR/Aventador-1_zps30e6f4ca.jpg" width="25" height="25" alt="vehicle">
            
            </td>
             <td>{{vehicle.year}}
            
            </td>
               <td>{{vehicle.make}}
            
            </td>
            <td>{{vehicle.model}}
            
            </td>
            <td>{{vehicle.price}}
            
            </td>
            <td><button class="btn btn-primary"></button>
            
            </td>
            
        </tr>
         
    </thead>
</table>-->
<div class="row">
 <div class="col-sm-6 col-md-4">
       
            <input type="text" class="form-control" placeholder="Search By Model"
                   ng-model="searchBymodel">
       
    </div>
    
      <div class="col-sm-6 col-md-4">
       
            <input type="text" class="form-control" placeholder="Search By Price"
                   ng-model="searchByprice">
                  
       
    </div>
    <div class="col-sm-6 col-md-4">
       
            <input type="text" class="form-control" placeholder="Search By Company"
                   ng-model="searchBymake">
       
    </div>
<div class="col-sm-6 col-md-4">
    
    <button class="btn btn-primary" ng-click="changeSort">Order</button>
    
    </div>
    <div class="col-sm-6 col-md-4">
    <select ng-model="range" class="form-control" ng-options="item.range for item in filterRange"><option value="">please select</option></select></div>
</div>
<div class="row">

        <div class="col-sm-6 col-md-4" ng-repeat="vehicle in vehicles
             |filter:{model:searchBymodel}
             |filter:{price:searchByprice}
             |filter:{make:searchBymake}
             |orderBy:sortBy
             |rangeFilter:range">
             <div class="thumbnail">
               <img src="http://i614.photobucket.com/albums/tt224/blu3hamm3r/Aventador%20vs%20GTR/Aventador-1_zps30e6f4ca.jpg" width="55" height="55" alt="vehicle">
                <div class="caption">
                    <h3>{{::vehicle.model|uppercase}}</h3>
                    <p>{{::vehicle.make}}</p>
                    <!--<p>{{::vehicle.price|currency:"INR."}}</p>-->
                    <p><i class="fa fa-inr"></i>{{::vehicle.price|currency:""}}</p>
                     <p><a href="#" ng-click="selectVehicle(vehicle)" class="btn btn-primary" role:"button" ng-if="!vehicle.isSelected">Select</a>
                    <a href="#" ng-click="removeVehicle(vehicle)" class="btn btn-warning" role:"button" ng-if="vehicle.isSelected">Remove from Cart</a></p>   
                    <a href="#"  class="btn btn-primary" role="button" >{{::$index}}</a>
                     </div>
            </div>
        </div>
    </div>
